<mat-card>
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon><span ngClass="mdi mdi-person"></span></mat-icon>
          Today's Activites
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Overdue Activites
        </ng-template>
        Content 2
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
  

<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxFlex>
    <mat-card>
      <mat-toolbar>
        <mat-toolbar-row>
          <mat-card-title>Today's</mat-card-title>
          <mat-card-subtitle>Activities</mat-card-subtitle>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card-header>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Overdue</mat-card-title>
          <mat-card-subtitle>Activities</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
</div> -->